* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outifit', sans-serif;
}


nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #FF0077;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    width: 300px;
    z-index: 2;
}


ul {
    height: 100%;
    list-style-type: none;
    /* Tira os pontin*/
}

ul li.item-menu {
    transition: .2s;
    /*Cria um atraso na peseudo classe hover*/
}

ul li.item-menu:hover {
    background: #FF0077;
}


ul li.item-menu a {
    color: aliceblue;
    text-decoration: none;
    /*tira as listras*/
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}


ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

.deslogar{
    width: 100%;
    padding-left: 10px;
}

.deslogar > i{
   color: aliceblue;
   font-size: 25px;
   cursor: pointer;
}

.cadastro{
    border: 5px solid #FF0077;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* max-width: fit-content; */
    /* justify-content: center; */
}

.formulario-cadastro{
    display: flex;
    flex-direction: column;
}


#mensagem{
    resize: none;
}

textarea{
    font-size: inherit;
}


.bts-cadastro{
    display: flex;
    justify-content: center;
} 

.bts-cadastro button{
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 100px;
    min-width: 100px;
    min-height: 25px;
}

.acoes{
    border-radius: 20px;
    max-width: 100px;
    min-height: 25px;
}